<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>    
    JSL Distribuidora - Vales Lançados </br></br>
    Olá, {function="getLogin('person')"}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active"><a href="/vouchers/user">Vales</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">

            <div class="box-header">
              <a href="/vouchers/user/create" class="btn btn-success">LANÇAR VALE</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 35px">#</th>
                    <th style="width: 100px">Mês</th>
                    <th style="width: 100px">Valor do Vale</th>                    
                    <th style="width: 100px">Situação</th>
                    <th style="width: 150px">Data Solicitada</th>
                    <!-- <th>Telefone</th> -->
                    <!-- <th>N° PIS</th> -->
                    <!-- <th>CPF</th> -->
                    <!-- <th>RG</th> --> 
                    <!-- <th>Remuneração</th> -->
                    <!-- <th style="width: 60px">Admin</th> -->
                    <!-- <th style="width: 300px">&nbsp;</th> -->
                  </tr>
                </thead>
                <tbody>
                  {loop="$voucher_user"}
                  <tr>
                    <td>{$value.id_voucher}</td>
                    <td>{function="formatMonth($value.month_register)"}</td>
                    <td>R$ {function="formatPrice($value.int_valor)"}</td>
                    <td>{$value.des_status}</td>
                    <td>{function="formatDate($value.dt_register_voucher)"}</td>
                    <td>
                      <a href="/vouchers/user/{$value.id_voucher}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="#" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr> 
                  {/loop}
                  <!-- {loop="$users"}
                  <tr>
                    <td>{$value.id_user}</td>
                    <td>{$value.des_person}</td>
                    <td>{$value.des_email}</td>
                    <td>{$value.des_login}</td/>
                    <td>{$value.nr_phone}</td/>
                    <td>{$value.des_pis}</td/>
                    <td>{$value.des_cpf}</td/>
                    <td>{$value.des_rg}</td/>
                    <td>{$value.num_salario}</td/>
                    <td>{if="$value.inadmin == 1"}Sim{else}Não{/if}</td>
                    <td>
                      <a href="/users/{$value.id_user}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/users/{$value.id_user}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop} -->
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->